/* General styles */
body, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: #add8e6;
    color: #000;
}

/* Styling for the header and navigation */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    padding: 10px;

}
.logo {
    display: grid;
    margin: 0 auto;
}
.logo img {
      display: block;
     max-width: 90%;
      border: 2px solid rgb(0, 0, 0);
     margin: 0 auto;
    }

.nav-bar {
    margin-top: auto;
    font-weight: bold;
    align-self: center;
}
.nav-bar ul {
    list-style: none;
    padding: 0;
    /* display: flex; */
    white-space: nowrap;
    /* text-align: right; */
}
.nav-bar li {
    position: relative;
}
.nav-bar a {
    text-decoration: none; /* Remove underlines from links */
    color: #000; /* Change link color */
    padding: 5px 10px;
    /* padding: 15px 20px 20px 20px; THE OTHER USED THESE NUMBERS SO PLAY WITH IT WHEN YOU ADD IT BACK */
}
.nav-bar li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 3px;
}


/* *******NEEDS TO BE ADDED TO tablet VIEW?********** */
/* .nav-bar li:hover ul {
    display: none;
} */

/* *******I THINK THIS CAN BE DELETED********** */
/* .nav-bar li {
    position: relative;
} */


/* Main content styling with grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px; /* padding between columns */
    padding: 20px 0;
}
.column-1 {
    background-color: #f5f5f5;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*insures that my image is above the text rather than beside it*/
    margin: 0 1rem;
}

.column-1 img {
    display: block;
    border: 5px solid black;
    margin: 2rem auto;
    box-sizing: border-box;
}

.column-1 p {
    text-indent: 2rem;
    margin-top: 1rem;
    line-height: 2;
}

.column-2 .portfolio-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 0 1rem;
}

.column-2 .everything-else {
    margin: 1rem;
}

.portfolio-item, .everything-else {
    border: 5px solid black;
    padding: 1rem;
    text-align: center;
}

.portfolio-item a, .everything-else a {
    text-decoration: none;
    color: black;
}

.portfolio-item:hover, .everything-else:hover {
    background-color: rgb(255, 255, 255); /* background color of hovered image */
    transform: scale(1.025); /* increases size when hovered */
    transition: 0.3s; /* speed in which the image increases when hovered */
}


.everything-else {
    margin-top: 1rem;
}

.everything-else img {
    width: 100%;
    /* gap: 5rem;   I don't think this is doing anything -  come back to it - can probably erase  */
}

img {
    max-width: 100%;
}

/* Footer styles */
footer {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    line-height: 2.0;
}

footer a {
    text-decoration: none;
}




/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    /* Header grid for mobile */
    header {
        grid-template-columns: 1fr;
    }

    .nav-bar ul {
        flex-direction: column; 
        align-items: center;
    }

    /* Main content grid for mobile */
    .grid {
        grid-template-columns: 1fr;
    }

    /* Portfolio section for mobile */
    .column-2 .portfolio-section {
        grid-template-columns: 1fr;
    }

    /* ************* Mobile First ********************** */

.menu-wrap { 					/* .menu-wrap contains all parts of our navigation */
    background-color: #add8e6;   /* Set background color */
    height: 3em;				/* Set height for navigation */
    width: 2em;					/* Set width */
    padding: 10px 15px;			/* em would be the best unit but px is fine for now */
    position: fixed;			/* Lock navigation to top of screen */
}
.menu-icon {
    font-size: 3em;				/* Set size of hamburger menu icon */
    color: rgb(0, 0, 0);				/* color of hamburger menu lines */
}
#checkbox {
    display: none;				/* Although we need the functionality of the checkbox, we don't want to see the checkbox */
}
#checkbox:checked ~ .nav-bar ul {	/* ~ means at same level */
    width: 10em;				/* When checkbox is checked, expand menu - this determines the width*/
}
.nav-bar {
    top: 155px;					/* Add space so nav opens below hamburger icon */
    left: 0;
    position: absolute;			/* Position nav absolutely on page so it overlaps other page content when open */
}
.nav-bar ul {
    list-style-type: none;		/* Get rid of bullets in unordered list */
    font-size: 1.5em;			/* Increase size for smaller devices */
    padding: 1em 0em;
    background-color: #add8e6;
    width: 0em;					/* Nav should be collapsed by default */
    overflow: hidden; 			/* Hide contents when collapsed */
    transition: width 0.5s;		/* Show the menu (width) opening and closing over 0.5 seconds */
    border-radius: 3px;
}
.nav-bar a {
    text-decoration: none;		/* Get rid of underlines on links */
    padding: 0.75em 2.5em;		/* Set padding around each link */
    color: #000000;
    display: block;
}

/* ************* Mobile First End ******************* */
}

/* Media Query for Tablet Devices */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Header grid for tablet */
    header {
        grid-template-columns: 1fr 1fr;
    }

    /* Main content grid for tablet */
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    /* Portfolio section for tablet */
    .column-2 .portfolio-section {
        grid-template-columns: 1fr;
    }

    /* Navigation */

    #checkbox {
        display: none;
    }

    .menu-icon {
        display: none;
    }
    .nav-bar ul {
        display: flex; /* Use flexbox for the navigation list */
        justify-content: space-between; /* Distribute the space between items equally */
        padding: 0; /* Remove any default padding */
    }
    
    .nav-bar ul li {
        flex: 1;
        text-align: center;
    }

}

/* Media Query for Desktop Devices */
@media (min-width: 1024px) {
    /* Header grid for tablet */
    header {
        grid-template-columns: 1fr 2fr;
    }

    /* Main content grid for desktop */
    .grid {
        grid-template-columns: 1fr 2fr;
    }

    /* Portfolio section for desktop */
    .column-2 .portfolio-section {
        grid-template-columns: 1fr 1fr;
    }  
    /* Navigation */

    #checkbox {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    /* .menu-wrap {
        display: none;
    } */
    .nav-bar li:hover ul {
        display: block;
    }
    .nav-bar a {
        transition: transform 0.3s ease;
    }
    /* Transform the anchor tag when hovered, but exclude dropdown anchor tags -  Adjust scale amount in ()'s*/
    .nav-bar li:not(li li) a:hover {
        transform: scale(1.05);
    }

    .nav-bar ul {
        display: flex; /* Use flexbox for the navigation list */
        justify-content: space-between; /* Distribute the space between items equally */
        padding: 0; /* Remove any default padding */
    }

    .nav-bar ul li {
        display: block;
        position: relative;
        padding: 15px 0px;
        flex: 1;
        text-align: center;
        border-radius: 3px;
    }
    .nav-bar ul li ul {
        left: -9999999999px; /* place sub-menu off screen */
        top: 48px; /* tweak vertical position of sub-menu*/
        position: absolute; /* position sub-menu absolutely underneath menu items */
    }
    
    .nav-bar ul li:hover ul {
        left: 0px; /* Bring sub-menu back on-screen*/
        width: 250px;
      }
    
    .nav-bar ul li:hover {
        background: #9e9e9ee5; /* Change color on hover */ /*suggested 90% opacity*/
      }
    
    .nav-bar ul li ul li {
        
        display: block; /* Display sub-menu as one large block */
        background: #add8e6; /* Initially show submenu with black background */
        text-align: left;
        padding-left: 24px;
        border-radius: 3px;
      }
    
    .nav-bar ul li ul li:hover {
        background: #9e9e9ee5; /*suggested 90% opacity*/
      }
    
    .nav-bar ul li ul li a {
        color: #000; /* Set font color in drop down*/
      }
    
}
